<p id="notice"><%= notice %></p>

<p>
  <b>Fname:</b>
  <%= @employee.fname %>
</p>

<p>
  <b>Lname:</b>
  <%= @employee.lname %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
